@mixin layersButton($url-white, $url-blue) {
  background: url("../img/svg/" + $url-white + ".svg") no-repeat center/cover;
  width: 40px;
  height: 40px;

  &.is-active {
    background: url("../img/svg/" + $url-blue + ".svg") no-repeat center/cover;
  }
}

@mixin elementPosition($position, $top:auto, $right:auto, $bottom:auto, $left:auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}