// fonts
$font-plumb:  "Plumb", Arial;

//colors
$white: #fff;
$blue: #00b9e3;
$bg-blue: rgba(0, 170, 209, 0.9);
$black: #000;
$grey-uni: #8a8a8a;
$grey: #f0f0f0;

// transitions
$transition-normal: 0.3s linear;

//breakpoints
$tablet: 960px;
$mobile: 720px;

