// fonts
$font-plumb:  "Plumb", Arial;

//colors
$white: #fff;
$blue: #00b9e3;
$black: #000;
$grey-uni: #8a8a8a;

// transitions
$transition-normal: 0.3s linear;

//breakpoints
$tablet: 960px;
$mobile: 720px;

