.menu {
  width: 100%;
  height: 268px;
  position: absolute;
  z-index: 10;
  top: -268%;
  opacity: 0;
  transition: top $transition-normal,
              opacity 0.2s;

  &.is-opened {
    top: 0;
    opacity: 1;
  }
}

.menu__content {
  display: flex;
  justify-content: center;
  height: 100%;
  background: $bg-blue;

  &.content {
    max-width: none;
    padding: 0 0 0 13%;
  }
}

.menu__leftBlock {
  display: flex;
  flex-basis: 15%;
  align-items: center;
}

.menu__leftBlockLinks {

}

.menu__leftBlockLink {
  display: block;
  color: $white;
  line-height: 24px;
  transition: $transition-normal;

  &:hover {
    color: $black;
  }
}

.menu__middleBlock {
  display: flex;
  flex-basis: 748px;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  background: $black;
}

.menu__middleBlockLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 132px;
  width: 100%;
  padding: 0 10px;
}

.menu__middleBlockLink {
  display: flex;
  align-items: center;
  color: $white;
  transition: $transition-normal;
  fill: $white;

  &:not(:nth-child(3)) {
    margin-bottom: 18px;
  }

  &:not(:last-child):not(:nth-child(4)) {
    margin-right: 10%;
  }

  &:hover {
    color: $blue;
    fill: $blue;
  }
}

.menu__middleBlockLinkImage {
  height: 32px;
  width: 44px;
  vertical-align: middle;
  margin-right: 26px;
}

.menu__rightBlock {
  width: 200px;
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.menu__rightBlockLinks {

}

.menu__rightBlockLink {
  display: block;
  font-size: 0;
  color: $white;
  fill: $white;
  transition: color $transition-normal, fill $transition-normal;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 5px;
  }

  &:hover {
    color: $black;
    fill: $black;
  }
}

.menu__rightBlockLinkImage {
  display: inline-block;
  vertical-align: middle;
  height: 13px;
  width: 15px;
  margin-right: 10px;
}

.menu__rightBlockLinkText {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.menu__rightBlockSearch {
  position: absolute;
  top: 203px;
  right: 40px;
  width: 32px;
  height: 32px;
  //transition: right $transition-normal;

  &:hover {
    width: 179px;

    .menu__rightBlockSearchInput {
      width: 179px;
      opacity: 1;
      padding-left: 10px;
      padding-right: 35px;
      transition-delay: 0s;
    }
  }
}

.menu__rightBlockSearchButton {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  border: 2px solid $white;
  border-radius: 50%;
  background: transparent;
  transition: border-color $transition-normal;
  z-index: 20;

  &:hover {
    border-color: $black;
    margin-left: 20px;

    .menu__rightBlockSearchButtonIcon {
      stroke: $black;
    }
  }
}

.menu__rightBlockSearchButtonIcon {
  width: 16px;
  height: 16px;
  stroke: $white;
  text-align: center;
  transition: stroke $transition-normal;
}

.menu__rightBlockSearchInput {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  border: 2px solid $white;
  border-radius: 16px;
  background: transparent;
  transition: width $transition-normal, opacity 0s 0.25s, padding 0s 0.3s;
  vertical-align: middle;
  line-height: 21px;
  color: $white;
  padding: 0;
  opacity: 0;

  &:focus {
    width: 179px;
    padding-left: 10px;
    padding-right: 35px;
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .menu__content.content {
    padding-left: 10%;
  }

  .menu__leftBlock {
    flex-basis: 180px;
    flex-shrink: 1;
  }

  .menu__middleBlock {
    flex-basis: 600px;
  }

  .menu__rightBlock {
    padding-left: 20px;
  }
}

@media (max-width: $tablet) {
  .menu__leftBlock {
    width: 28%;
  }

  .menu__rightBlock {
    width: 0;
  }

  .menu__rightBlockLinks {
    margin-left: -58px;
    min-width: 0;
  }

  .menu__rightBlockLink {
    margin-bottom: 12px;
    min-width: 0;

    &:hover {
      color: $blue;
      fill: $blue;
    }
  }

  .menu__rightBlockLinkText {
    display: none;
  }

  .menu__rightBlockSearch {
    top: 168px;
    right: 99px;
    width: 179px;
    transition: left $transition-normal, width $transition-normal;

    &:hover {
      .menu__rightBlockSearchButton {
        left: 147px;
      }
    }

  }

  .menu__rightBlockSearchButton {
    left: 0;
    transition: left $transition-normal, border-color $transition-normal;

    &:hover {
      margin-left: 0;
      border-color: $blue;

      .menu__rightBlockSearchButtonIcon {
        stroke: $blue;
      }
    }
  }

  .menu__rightBlockSearchInput {
    right: auto;

    &:focus {
      & ~ .menu__rightBlockSearchButton {
        left: 147px;
      }
    }
  }
}