<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Строительство мойки</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="common">
@@include("../../blocks/modules/header/header.html")

<div class="commonHeader constructionHeader">
    <h1 class="commonHeader__title">
        СТРОИТЕЛЬСТВО МОЙКИ
    </h1>
</div>
<div class="commonDesc constructionDesc">
    <div class="commonDesc__content content">
        <div class="commonDesc__left">
            <img class="commonDesc__commonLogo" src="img/svg/08_Construction.svg">
        </div>
        <div class="commonDesc__right">
            <h2 class="commonDesc__title">
                Строительство мойки самообслуживания
                на базе типового проекта компании ALLES
            </h2>
            <div class="commonDesc__line">
            </div>
            <div class="commonDesc__text constructionDesc__text">
                К основному строительству мойки самообслуживания относится:
                <ul class="constructionDesc__list">
                    <li class="constructionDesc__listHeader">
                        Нулевой этап – ВК и НК:
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка ограждения-забора стройки
                    </li>
                    <li class="constructionDesc__listItem">
                        Заглубление экскаватором для установки колодцев-отстойников
                    </li>
                    <li class="constructionDesc__listItem">
                        Песчано-гравийное основание колодцев
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка колец колодцев
                    </li>
                    <li class="constructionDesc__listItem">
                        Гидроизоляция колодцев
                    </li>
                    <li class="constructionDesc__listItem">
                        Прокладка труб системы канализации и водопровода
                    </li>
                    <li class="constructionDesc__listItem">
                        Прокладка электрокабеля под плиту
                    </li>
                    <li class="constructionDesc__listHeader">
                        Нулевой этап – КЖ и ОС:
                    </li>
                    <li class="constructionDesc__listItem">
                        Песчано-гравийное основание
                    </li>
                    <li class="constructionDesc__listItem">
                        Прокладка труб системы Anti Frost
                    </li>
                    <li class="constructionDesc__listItem">
                        Защитная пленка
                    </li>
                    <li class="constructionDesc__listItem">
                        Теплоизоляция
                    </li>
                    <li class="constructionDesc__listItem">
                        Опалубка съемная/несъемная
                    </li>
                    <li class="constructionDesc__listItem">
                        Арматура двухуровневая
                    </li>
                    <li class="constructionDesc__listItem">
                        Укладка приямков на постах
                    </li>
                    <li class="constructionDesc__listItem">
                        Прокладка труб теплого пола
                    </li>
                    <li class="constructionDesc__listItem">
                        Заливка бетона M350
                    </li>
                    <li class="constructionDesc__listItem">
                        Шлифовка поверхности и нанесение защитного слоя
                    </li>
                    <li class="constructionDesc__listHeader">
                        Установка МК ALLES, технического
                        помещения, монтаж ЭО:
                    </li>
                    <li class="constructionDesc__listItem">
                        Сборка каркаса технического помещения из сборно-разборного оцинкованного металла
                    </li>
                    <li class="constructionDesc__listItem">
                        Обшивка сэндвичем или иными материалами
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка дверей и окон
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка вентиляции
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка и монтаж сантехники
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка МК ALLES, перегородок из закаленного стекла и крыши из поликарбоната
                    </li>
                    <li class="constructionDesc__listItem">
                        Монтаж электрики мойки и освещения
                    </li>
                    <li class="constructionDesc__listItem">
                        Снятие ограждения-забора стройки
                    </li>
                    <li class="constructionDesc__listHeader">
                        Завершающий этап
                        строительства:
                    </li>
                    <li class="constructionDesc__listItem">
                        Благоустройство территории мойки
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка видеонаблюдения
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка охранных систем
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка дорожных знаков на территории мойки
                    </li>
                </ul>
                <ul class="constructionDesc__list">
                    <li class="constructionDesc__listHeader">
                        Следующие этапы:
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка и монтаж оборудования мойки
                    </li>
                    <li class="constructionDesc__listItem">
                        Установка оборудования для очистки сточных вод
                    </li>
                    <li class="constructionDesc__listItem">
                        Рекламное оформление
                    </li>
                    <li class="constructionDesc__listItem">
                        Создание условий для работы обслуживающего персонала
                    </li>
                </ul>
            </div>
            <button class="commonDesc__requestButton requestButton js-request-button">
                Заказать консультацию
            </button>
        </div>
    </div>
</div>

@@include("../../blocks/modules/popup/popup.html")
@@include("../../blocks/modules/footer/footer.html")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>