<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Контакты</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="common">
@@include("../../blocks/modules/header/header.html")

<div class="commonHeader contactsHeader">
    <h1 class="commonHeader__title">
        КОНТАКТЫ
    </h1>
</div>
<div class="commonDesc contactsDesc">
    <div class="commonDesc__content content">
        <div class="commonDesc__left">
            <img class="commonDesc__commonLogo" src="img/svg/10_Contacts.svg">
        </div>
        <div class="commonDesc__right">
            <h2 class="commonDesc__title">
                Производство и центральный офис компании ALLES находится в Санкт-Петербурге
            </h2>
            <div class="commonDesc__line">
            </div>
            <div class="commonDesc__text contactsDesc__text">
<h2 class="contactsDesc__textTitle">
ALLES Санкт-Петербург
</h2>

Центральный офис осуществляет продажи в Северо-Западном, Центральном,
Поволжском и Южном федеральных округах.

ООО «АЛЛЕС»
РФ, 192148, Санкт-Петербург, ул. Ольги Берггольц, д.35, литер Б.
Время работы: с 9.30 до 18.00 (Пн-Пт)

<a href="tel:88005005248">8 (800) 500-52-48</a>

<a href="tel:88123375919">8 (812) 337-59-19</a>

<a href="email:info@alles-good.ru">info@alles-good.ru</a>


<h2 class="contactsDesc__textTitle">
ALLES Калининград
</h2>

Официальный дилер в Калининграде и Калининградской области.

ООО «Балтавтолайт»
РФ, 236004, Калининград, ул. Дзержинского, 51
Время работы: с 9.30 до 18.00 (Пн-Пт)

<a href="tel:88005005248">8 (800) 500-52-48</a>
<a href="tel:84012693643">8 (4012) 69-36-43</a>

<a href="email:kld@alles-good.ru">kld@alles-good.ru</a>

<h2 class="contactsDesc__textTitle">
ALLES Омск
</h2>

Официальный дилер в Уральском, Сибирском и Дальневосточном федеральных округах.

ООО «Сивитек-Мастер»
РФ, 644088, Омск, ул. Химиков, 71/1
Время работы: с 9.30 до 18.00 (Пн-Пт)

<a href="tel:88005005248">8 (800) 500-52-48</a>
<a href="tel:83812383440">8 (3812) 38-34-40</a>

<a href="email:sib@alles-good.ru">sib@alles-good.ru</a>
            </div>
            <button class="commonDesc__requestButton">
                Заказать консультацию
            </button>
        </div>
    </div>
</div>

@@include("../../blocks/modules/footer/footer.html")
<!--<script src="js/pageB.js"></script>-->
<!--<script src="js/vendor.js"></script>-->
</body>
</html>