<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Новости</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

@@include("../../blocks/modules/header/header.html")
<body class="news">
    <div class="news__content content">
        <h1 class="news__title">
            НОВОСТИ
        </h1>
        <div class="news__slider js-news-slider">
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    01.09.2015
                </p>
                <h1 class="news__itemTitle">
                    Открытие первой мойки самообслужи&shy;вания ALLES в Санкт&#8209;Петербурге<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-1.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-1.png">
                <div class="news__itemText">
                    <svg class="news__itemLine" xmlns="http://www.w3.org/2000/svg" width="82" height="1" viewBox="0 0 82 1">
                        <rect id="Line" width="82" height="1"/>
                    </svg><br>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    19.09.2015
                </p>
                <h1 class="news__itemTitle">
                    Что нужно учитывать при постройке моек самообслуживания ALLES в<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-2.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-2.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br><br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    19.09.2015
                </p>
                <h1 class="news__itemTitle">
                    Теперь вам доступны новые возмож&shy;ности при выборе оборудования<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-3.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-3.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    1.10.2015
                </p>
                <h1 class="news__itemTitle">
                    Открытие второй мойки самообслужи&shy;вания ALLES в Санкт-Петербурге<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-4.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-4.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    5.10.2015
                </p>
                <h1 class="news__itemTitle">
                    Особенности бизнеса “Мойка самообслуживания"<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-5.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-5.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    19.10.2015
                </p>
                <h1 class="news__itemTitle">
                    Почему ALLES?<br>
                    Преимущества компании<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-6.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-6.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    01.09.2015
                </p>
                <h1 class="news__itemTitle">
                    Открытие первой мойки самообслужи&shy;вания ALLES в Санкт&#8209;Петербурге<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-1.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-1.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
            <div class="news__sliderItem js-show-news">
                <p class="news__itemDate">
                    01.09.2015
                </p>
                <h1 class="news__itemTitle">
                    Открытие первой мойки самообслужи&shy;вания ALLES в Санкт&#8209;Петербурге<span class="news__hideText">...</span>
                </h1>
                <img class="news__itemImage" src="img/news-slide-1.png">
                <img class="news__itemImageLarge" src="img/news-slide-large-1.png">
                <div class="news__itemText">
                    <div class="news__itemLine">
                    </div>
                    В Санкт-Петербурге состоялось открытие первой мойки самообслуживания ALLES.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Основные преимущества:
                    </h2>
                    <br>
                    •  Отсутствие очередей или предварительной записи<br>
                    •  Экономия времени, так как клиент сам решает, сколько времени потратит на мойку<br>
                    •  Экономия денег благодаря поминутной оплате и ручному выбору программы<br>
                    •  Клиент сам контролирует качество мойки своего автомобиля<br>
                    •  Кроме автомобилей можно мыть мотоциклы, грузовики, автобусы, тракторы, лодки, велосипеды, различные емкости, ковры и прочее.<br>
                    <br>
                    <h2 class="news__itemTextTitle">
                        Ключевые преимущества мойки самообслуживания для владельца:
                    </h2>
                    <br>
                    •  Высокая рентабельность, которая в среднем составляет 45-65%<br>
                    •  Низкое налогообложение<br>
                    •  Малый штат работников или полное отсутствие персонала<br>
                    •  Автоматизированные процессы с удаленным контролем и управлением<br>
                    •  Минимальная трата времени на управление данным бизнесом<br>
                    <br>
                    <br>
                    <a class="news__itemLinkBack js-modal-close" href="#">
                        ← Назад
                    </a>
                </div>
                <a class="news__itemLinkMore js-show-news-button" href="#">
                    Подробнее →
                </a>
            </div>
        </div>
    </div>
    <div class="modal js-modal">
        <div class="modal__background js-modal-close"></div>
        <div class="modal__content">
            <svg class="modal__closeButton js-modal-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 12 12">
                <image id="Cross" width="12" height="12" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAtklEQVQokXXQPU5CQRSG4eeCS6AFoiUlvSRSSWnhpu5iDA01kFDbGhsTwbAIKnLMzM11HKaZzOR9z8/XtG27xwjPOKmfKd7wPkjwDDuMb8BbzIMLYYUvPFSkDN/jE68hHPFUkUp4ifNdqpSlbZIOaJLYwQEOeu2zFPckwdG1g0tBqtr03kPkKf4JeeZc+bv3Fx3/COWCj1j0guikEKppVNL7lUJYV+AyiCxtYqEPXPBSwKW0wc8VPIw0h/3Ch1wAAAAASUVORK5CYII="/>
            </svg>
            <div class="modal__contentIn js-modal-content">

            </div>
        </div>
    </div>

@@include("../../blocks/modules/footer/footer.html")
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>