<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Оборудование компании ALLES</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    @@include("../../blocks/modules/header/header.html")

    <div class="productsHeader">
        <h1 class="productsHeader__title">
            ОБОРУДОВАНИЕ КОМПАНИИ ALLES
        </h1>
    </div>
    <div class="productsDesc">
        <div class="productsDesc__content content">
            <div class="productsDesc__left">
                <img class="productsDesc__productsLogo" src="/img/svg/01_Products.svg">
                <div class="productsDesc__quotesBox">
                    <img class="productsDesc__arrowLine" src="/img/svg/arrow-line.svg">
                    <p class="productsDesc__quotes">
                        Наше оборудование проверено временем и практикой
                    </p>
                    <img class="productsDesc__arrowLine productsDesc__arrowLine--down" src="/img/svg/arrow-line.svg">
                    <p class="productsDesc__quotesTeam">
                        Команда «ALLES»
                    </p>
                </div>
            </div>
            <div class="productsDesc__right">
                <h2 class="productsDesc__title">
                    ОБОРУДОВАНИЕ
                </h2>
                <div class="productsDesc__line">
                </div>
                <div class="productsDesc__text">
                    <p>
                        Автомоечное оборудование производства компании ALLES собрано из качественных
                        и надежных комплектующих, проверенных временем и практикой. Техническое
                        воплощение, а также промышленное компьютерное обеспечение основано на базе
                        многолетнего опыта специалистов компании и с учетом пожеланий клиентов: как
                        владельцев, так и пользователей.<br>
                        <br>
                        В оборудовании для моек самообслуживания ALLES мы используем только качественные
                        и проверенные комплектующие:<br>
                        <br>
                    </p>
                    <p>
                        <span class="productsDesc__textBlue">•</span>
                        Главный компьютер, автоматика управления, контроллеры, сенсорные экраны круглогодичного
                        использования, преобразователи частоты B&R Automation (Австрия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Автоматика главного щита управления низковольтная и высоковольтная ABB (Швейцария)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Электромагнитные клапана ASCO (Франция)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Дозирующие электронно управляемые насосы SEKO (Италия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Помпы высокого давления HAWK (Италия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Электродвигатели производства РФ и Nicolini (Италия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Насосы низкого давления WILO SE (Германия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Сервоприводы VALTEC (Италия), ESBE (Швеция)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Входные фильтры-редукторы давления Honeywell (Германия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Фитинги ВД, соединения, моечные комплекты Mosmatic (Швейцария), R+M (Германия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Котловое оборудование Lamborghini (Италия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Монето/жетоноприёмники NRI (Германия)
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Купюроприемники Cash Code (Канада)
                        <br><br>
                    </p>
                    <span class="productsDesc__textBlue">
                        При создании программного обеспечения ALLES CW были учтены:
                        <br><br>
                    </span>
                    <p>
                        <span class="productsDesc__textBlue">•</span>
                        Опыт специалистов нашей компании с 2008 года;
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Опыт сервисного обслуживания моек;
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Опыт владения данными мойками самообслуживания;
                        <br><br>
                        <span class="productsDesc__textBlue">•</span>
                        Пожелания к функционалу программы частных и сетевых клиентов.
                        <br><br>
                    </p>
                    <span class="productsDesc__textBlue">
                        Фирменное программное обеспечение ALLES CW выполняет следующие функции:
                        <br>
                    </span>
                    <p>
                        <span class="productsDesc__textBlue">•</span>
                        Персонализированные уровни доступа
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Меню диагностики с отражением всех параметров моечного оборудования
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Настройки параметров мойки
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Схемы оборудования
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Статистика
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Финансовая и кассовая отчетность
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Возможность подключения ККМ
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Управление резервным постом
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Подсчет машин
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Подсчет среднего чека
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Система инкассации
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Настройка акций
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Управление освещением
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Управление режимом светофора в подсветке панели управления
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Резервный пост с активацией через программу
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Сбор данных о количестве принятых монет, купюр и их достоинстве
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Предоставление данных о наработке оборудования
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Удаленное изменение ценовой ставки одного импульса
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Удаленное изменение параметров дозировки моющих составов
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация уровня моющих составов в емкостях в меню диагностики
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация высокого давления с помп в меню диагностики
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация уровня очистки деминерализованной воды в меню диагностики
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация уровней воды в буферной емкости
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Возможность демонстрации уровня в баке дизельного топлива
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация давления: вводного, сетевого, циркуляции и котла в меню диагностики
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Демонстрация температур: внешней, с котла, полов и после смешивания воды
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Сигнал открытия дверей на постах в меню диагностики
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Статистика об авариях и отклонениях в работе технологического оборудования
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Управление системами, предотвращающими замерзание
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Возможностью подключения к интернету и дистанционному управлению всей программой мойки
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        СМС-оповещение и отправка писем на электронную почту (реализуется дополнительным оборудованием)
                        <br>
                        <span class="productsDesc__textBlue">•</span>
                        Сетевое управление неограниченным количеством моек одной программой (устанавливается
                        дополнительно)
                        <br><br>
                    </p>
                    <p>
                        Данный набор функций позволяет отказаться от постоянного присутствия персонала на мойке,
                        что дополнительно экономит Ваши финансы.
                        <br><br>
                        Более подробно с перечнем продукции и стоимостью можете ознакомиться в нашем каталоге
                    </p>
                </div>
                <button class="productsDesc__requestButton">
                    Заказать консультацию
                </button>
            </div>
        </div>
    </div>

    @@include("../../blocks/modules/footer/footer.html")
    <!--<script src="../js/pageB.js"></script>-->
    <!--<script src="../js/vendor.js"></script>-->
</body>
</html>