<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Технические параметры</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="common">
    @@include("../../blocks/modules/header/header.html")

    <div class="commonHeader technicsHeader">
        <h1 class="commonHeader__title">
            ТЕХНИЧЕСКИЕ ПАРАМЕТРЫ
        </h1>
    </div>
    <div class="commonDesc technicsDesc">
        <div class="commonDesc__content content">
            <div class="commonDesc__left">
                <img class="commonDesc__commonLogo" src="img/svg/05_Technics.svg">
            </div>
            <div class="commonDesc__right">
                <h2 class="commonDesc__title">
                    Технические параметры мойки ALLES CW
                    для подбора участка
                </h2>
                <div class="commonDesc__line">
                </div>
                <div class="commonDesc__text technicsDesc__text">
                    <div class="commonDesc__tableBox technicsDesc__tableBox">
                        <table class="commonDesc__table technicsDesc__table">
                            <tr class="technicsDesc__tableRow technicsDesc__tableRow--header">
                                <th>
                                    Технические требования к участку
                                </th>
                                <th>
                                    Ед. изм.
                                </th>
                                <th>
                                    1 пост
                                </th>
                                <th>
                                    2 поста
                                </th>
                                <th>
                                    3 поста
                                </th>
                                <th>
                                    4 поста
                                </th>
                                <th>
                                    5 постов
                                </th>
                                <th>
                                    6 постов
                                </th>
                                <th>
                                    8 постов
                                </th>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    S строения *
                                </td>
                                <td>
                                    м<sup>2</sup>
                                </td>
                                <td>
                                    45
                                </td>
                                <td>
                                    72
                                </td>
                                <td>
                                    100
                                </td>
                                <td>
                                    150
                                </td>
                                <td>
                                    178
                                </td>
                                <td>
                                    207
                                </td>
                                <td>
                                    265
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    S min участка с подъездными путями
                                </td>
                                <td>
                                    м<sup>2</sup>
                                </td>
                                <td>
                                    135
                                </td>
                                <td>
                                    220
                                </td>
                                <td>
                                    300
                                </td>
                                <td>
                                    450
                                </td>
                                <td>
                                    535
                                </td>
                                <td>
                                    621
                                </td>
                                <td>
                                    795
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Эл. мощность на освещение, видеонаблюдение и т.д. (кВт)
                                </td>
                                <td>
                                    кВт
                                </td>
                                <td>
                                    1,8
                                </td>
                                <td>
                                    3
                                </td>
                                <td>
                                    5
                                </td>
                                <td>
                                    6
                                </td>
                                <td>
                                    7
                                </td>
                                <td>
                                    8
                                </td>
                                <td>
                                    12
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Среднее потребление электричества в&nbsp;месяц (кВт/час)
                                </td>
                                <td>
                                    кВт/час
                                </td>
                                <td>
                                    1000
                                </td>
                                <td>
                                    2000
                                </td>
                                <td>
                                    3000
                                </td>
                                <td>
                                    4000
                                </td>
                                <td>
                                    5000
                                </td>
                                <td>
                                    6000
                                </td>
                                <td>
                                    7000
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Среднее потребление воды в месяц
                                </td>
                                <td>
                                    м<sup>3</sup>
                                </td>
                                <td>
                                    130
                                </td>
                                <td>
                                    250
                                </td>
                                <td>
                                    380
                                </td>
                                <td>
                                    510
                                </td>
                                <td>
                                    640
                                </td>
                                <td>
                                    750
                                </td>
                                <td>
                                    900
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Размеры мойки*
                                </td>
                                <td>
                                    м
                                </td>
                                <td>
                                    6x7,5
                                </td>
                                <td>
                                    6x12
                                </td>
                                <td>
                                    6x16,7
                                </td>
                                <td>
                                    6x25
                                </td>
                                <td>
                                    6x30
                                </td>
                                <td>
                                    6x35
                                </td>
                                <td>
                                    6x44
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Высота МК от ALLES
                                </td>
                                <td>
                                    м
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                                <td>
                                    4,8
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="commonDesc__tableBox technicsDesc__tableBox">
                        <table class="technicsDesc__table">
                            <tr class="technicsDesc__tableRow technicsDesc__tableRow--header">
                                <th>
                                    Требования к подключению сетей
                                </th>
                                <th>
                                    Ед. изм.
                                </th>
                                <th>
                                    1 пост
                                </th>
                                <th>
                                    2 поста
                                </th>
                                <th>
                                    3 поста
                                </th>
                                <th>
                                    4 поста
                                </th>
                                <th>
                                    5 постов
                                </th>
                                <th>
                                    6 постов
                                </th>
                                <th>
                                    8 постов
                                </th>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Потребление воды оборудованием
                                </td>
                                <td>
                                    м<sup>3</sup>/час
                                </td>
                                <td>
                                    0,7
                                </td>
                                <td>
                                    1,4
                                </td>
                                <td>
                                    2,1
                                </td>
                                <td>
                                    2,8
                                </td>
                                <td>
                                    3,5
                                </td>
                                <td>
                                    4,2
                                </td>
                                <td>
                                    4,8
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Потребление электричества оборудованием
                                </td>
                                <td>
                                    кВт
                                </td>
                                <td>
                                    9
                                </td>
                                <td>
                                    13
                                </td>
                                <td>
                                    17
                                </td>
                                <td>
                                    21
                                </td>
                                <td>
                                    25
                                </td>
                                <td>
                                    32
                                </td>
                                <td>
                                    40
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Необходимое давление воды на&nbsp;входе в оборудование
                                </td>
                                <td>
                                    BAR
                                </td>
                                <td colspan="7">
                                    4-6 (min. 2,5 при работе мойки)
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Электроснабжение
                                </td>
                                <td>

                                </td>
                                <td colspan="7">
                                    3 ACN 380V 3 фазы / 50 Гц
                                </td>
                            </tr>
                            <tr class="technicsDesc__tableRow">
                                <td>
                                    Удаленность от жилых строений по&nbsp;гос. регламенту
                                </td>
                                <td>

                                </td>
                                <td colspan="2">
                                    50 метров
                                </td>
                                <td colspan="5">
                                    100 метров
                                </td>
                            </tr>
                        </table>
                    </div>
                    * - с учетом технического помещения<br><br>
                    Внимание:  данные параметры рекомендуемые. Участки следует рассматривать в
                    индивидуальном порядке.
                </div>
                <button class="commonDesc__requestButton requestButton js-request-button">
                    Заказать консультацию
                </button>
            </div>
        </div>
    </div>

    @@include("../../blocks/modules/popup/popup.html")
    @@include("../../blocks/modules/footer/footer.html")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>