.constructionHeader {
  background: url("../img/construction-background.png") no-repeat center/cover;
}

.constructionDesc__text {

}

.constructionDesc__list {
  margin-top: 60px;
  border-left: 2px solid $blue;
  padding-left: 39px;
  position: relative;

  & li {
    margin-bottom: 33px;
    list-style: none;
    position: relative;

    &:last-child:before {
      content: "";
      width: 26px;
      height: 26px;
      left: -53px;
      top: 1px;
    }
  }

  &:first-child li {

    &:first-child:before {
      content: "1";
      color: $white;
      text-align: center;
      vertical-align: middle;
      line-height: 55px;
    }

    &:nth-child(9):before {
      content: "";
      width: 26px;
      height: 26px;
      left: -53px;
      top: 1px;
    }

    &:nth-child(20):before {
      top: 0;
      content: "2";
      color: $white;
      text-align: center;
      vertical-align: middle;
      line-height: 55px;
    }

    &:nth-child(29):before {
      content: "3";
      color: $white;
      text-align: center;
      vertical-align: middle;
      line-height: 55px;
    }
  }

  &:last-child {
    & .constructionDesc__listHeader:before {
      width: 20px;
      height: 20px;
      background: $white;
      border: 3px solid $blue;
      left: -53px;
      top: 0;
    }
  }

  &:after {
    content: "";
    width: 100px;
    height: 10px;
    position: absolute;
    bottom: -7px;
    left: -25px;
    background: white;
  }
}

.constructionDesc__listHeader {
  font: 25px $font-plumb;
  color: $blue;
  text-transform: uppercase;

  &:before {
    content: "";
    width: 56px;
    height: 56px;
    background: $blue;
    border-radius: 50%;
    position: absolute;
    left: -68px;
    top: -14px;
  }
}

.constructionDesc__listItem:before {
  content: "";
  width: 12px;
  height: 12px;
  background: $blue;
  border-radius: 50%;
  position: absolute;
  left: -46px;
  top: 9px;
}