.contactsHeader {
  background: url("../img/contacts-background.png") no-repeat center/cover;
}

.contactsDesc__text {
  white-space: pre-wrap;
  margin-bottom: 35px;

  a {
    color: $black;
    transition:  color $transition-normal;

    &:hover {
      color: $blue;
    }
  }
}

.contactsDesc__textTitle {
  font: 25px $font-plumb;
  color: $blue;
  text-transform: uppercase;
}