html {
  height: 100%;
}

.news {
  background: url("../img/Main-background.png") no-repeat center/cover;

  .slick-slide {
    width: 294px;
    margin-right: 31px;
  }
}

.news__content {
  padding-top: 184px;

  &.content {
    max-width: 1900px;
    padding-right: 0;
  }
}

.news__title {
  color: $white;
  font: 54px $font-plumb;
  text-align: center;
  margin-bottom: 70px;
  padding-right: 20px;
}

.news__slider {
  margin-left: 132px;
}

.news__sliderItem {
  background: $white;
  position: relative;
  padding: 345px 20px 24px;
  font-size: 14px;
  width: 294px;
  height: 469px;
  margin-right: 31px;
  border-radius: 2px;
}

.news__itemDate {
  color: $blue;
  margin-bottom: 10px;
}

.news__itemTitle {
  margin-bottom: 10px;
  max-width: 260px;
}

.news__itemImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

img.news__itemImageLarge {
  display: none;
}

.news__itemText {
  display: none;
}

.news__itemLine {

}

.news__itemTextTitle {

}

.news__itemLinkBack {

}

.news__itemLinkMore {
  display: inherit;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 0 20px;

  .modal__closeButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    cursor: pointer;
  }

  .news__hideText {
    display: none;
  }

  .news__itemImage {
    display: none;
  }

  .news__itemImageLarge {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .news__sliderItem {
    padding: 0;
    margin: 0 0 160px;
    width: 100%;
    height: 100%;
  }

  .news__itemTitle {
    font: 25px $font-plumb;
    color: $blue;
    text-transform: uppercase;
    max-width: 600px;
    margin-bottom: 24px;
  }

  .news__itemText {
    display: block;
    line-height: 30px;
  }

  .news__itemLine {
    vertical-align: top;
    margin-top: 13px;
  }

  .news__itemTextTitle {
    font: 25px $font-plumb;
    color: $blue;
    text-transform: uppercase;
  }

  .news__itemLinkMore {
    display: none;
  }

  .news__itemLinkBack {
    color: $blue;
    border-bottom: 1px solid $blue;
    cursor: pointer;
  }
}

.modal__background {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 1497px;
  left: 0;
  background: $white;
  cursor: pointer;
}

.modal__content {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  top: 168px;
  height: 100%;
  //bottom: 0;
  //left: calc(50% - 307px);
  background: #fff;
  max-width: 615px;
  overflow-y: auto;
  padding-bottom: 150px;
}

.modal__closeButton {
  position: absolute;
}

.modal__contentIn {
  overflow-x: hidden;
}

@media (max-width: $mobile) {
  .news .slick-slide {
    width: 196px;
  }

  .news__content {
    padding-top: 123px;
  }

  .news__title {
    font-size: 36px;
  }

  .news__slider {
    margin-left: 88px;
  }

  .news__sliderItem {
    height: 313px;
    padding: 227px 14px 24px;
    font-size: 11px;
    line-height: 11px;
  }

  .modal {
    .news__itemTitle {
      font-size: 20px;
    }

    .news__itemTextTitle {
      font-size: 20px;
    }
  }

  .modal__content {
    top: 112px;
  }
}

@media (max-width: 425px) {
  .news__slider {
    margin-left: 42px;
  }

  img.news__itemImage {
    display: none;
  }

  .news__sliderItem {
    height: 145px;
    padding-top: 36px;
  }
}