.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding: 167px 10px 0;

  &.is-active {
    display: block;
  }
}

.popup__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__content {
  max-width: 385px;
  height: 538px;
  background: $white;
  margin: 0 auto;
  padding: 84px 48px 55px;
  position: relative;
  border-radius: 2px;
}

.popup__closeButton {
  position: absolute;
  top: 21px;
  right: 19px;
  cursor: pointer;
}

.popup__formTitle {
  font: 16px $font-plumb;
  color: $blue;
  text-transform: uppercase;
  max-width: 264px;
  margin: 0 auto 63px;
}

.popup__inputBox {
  margin: 0 auto 19px;
  position: relative;

  &:nth-child(5) {
    margin-bottom: 48px;
  }

  span {
    color: #b4b4b4;
    position: absolute;
    top: 0;
    left: 14px;
    bottom: 0;
    right: 0;
    line-height: 51px;
    display: block;
  }
}

.popup__inputIcon {
  display: none;
  position: absolute;
  top: 19px;
  left: 13px;
  z-index: 11;
}

.common__formInput {
  display: block;
  height: 49px;
  width: 100%;
  padding: 0 14px;
  line-height: 45px;
  z-index: 10;
  border: 2px solid $grey-form;
  border-radius: 5px;
  color: $blue;

  &:-ms-input-placeholder {
    color: #b4b4b4;
  }
  &::placeholder {
    color: #b4b4b4;
  }

  &:focus {
    background: $white;
    padding: 0 32px;
  }

  &[type="tel"]:hover {
    padding: 0 14px;

    & ~ span {
      display: none;
    }

    &:focus {
      padding: 0 32px;
    }
  }

  &:hover {
    border-color: $blue;
  }

  &[id="name_field"]:focus {
    @include focusImage(Man-form);
  }

  &[id="email_field"]:focus {
    @include focusImage(Mail-form);
  }

  &[id="phone_field"]:focus {
    @include focusImage(Phone-form);
  }
}

.popup__requestButton {
  width: 100% !important;
}