.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding-top: 167px;

  &.is-active {
    display: block;
  }
}

.popup__background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.popup__content {
  width: 385px;
  height: 538px;
  background: $white;
  margin: 0 auto;
  padding: 84px 48px 55px;
  position: relative;
  border-radius: 2px;
}

.popup__closeButton {
  position: absolute;
  top: 21px;
  right: 19px;
  cursor: pointer;
}

.popup__formTitle {
  font: 16px $font-plumb;
  color: $blue;
  text-transform: uppercase;
  width: 264px;
  margin: 0 auto 63px;
}

.popup__inputBox {
  width: 290px;
  height: 49px;
  margin: 0 auto 19px;
  //padding: 0 12px;
  position: relative;

  &:nth-child(5) {
    margin-bottom: 48px;
  }

  span {
    color: #b4b4b4;
    position: absolute;
    top: 0;
    left: 14px;
    bottom: 0;
    right: 0;
    line-height: 51px;
    display: block;
  }
}

.common__formInput {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  padding: 0 12px;
  color: transparent;
  line-height: 45px;
  background: transparent;
  z-index: 10;
  border: 2px solid $grey-form;
  border-radius: 5px;

  &:focus {
    background: $white;
    color: $blue;
  }

  &[type="tel"]:hover + span {
    display: none;
  }

  &:hover {
    border-color: $blue;
  }
}

.popup__requestButton {
  width: 100% !important;
}