.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5;
  height: 68px;
  transition: height $transition-normal;

  &.has-news-active {
    height: 323px;

    .footer__copyright {
      opacity: 0;
    }

    .footer__socials {
      position: absolute;
      right: 40px;
      top: 9px;
    }

    .footer__news {
      bottom: 0;
      top: 41px;
      opacity: 1;
    }
  }

  .slick-slide {
    width: 212px !important;
    margin-right: 112px !important;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 36px;
  max-width: 1900px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
}

.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  color: $grey-uni;
  opacity: 1;
  transition: opacity $transition-normal;
}

.footer__phone {
  display: none;
}

.footer__socials {
  display: flex;
  align-items: center;
  height: 32px;
  position: absolute;
  right: 40px;
  top: 0;
}

.footer__socialPic {
  line-height: 31px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &.is-active {
    background: $black-transparent-90;

    .footer__socialPicImage {
      fill: $white;
    }
  }

  &:hover {
    .footer__socialPicImage {
      fill: $blue;
    }
  }
}

.footer__socialPicImage {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  fill: $grey-uni;
  transition: fill $transition-normal;
}

.footer__news {
  position: absolute;
  bottom: -244px;
  top: 30px;
  width: 100%;
  opacity: 0;
  transition: top $transition-normal,
              bottom $transition-normal,
              opacity $transition-normal;
}

.footer__newsItems {
  padding: 37px 0 41px 86px;
  background: $black-transparent-90;
}

.footer__newsItem {
  font-size: 12px;
  width: 212px;
  float: left;

  &:nth-child(1), &:nth-child(4) {
    .footer__newsItemText {
      font-size: 11px;
    }
  }
}

.footer__newsItemImage {
  margin-bottom: 11px;
}

.footer__newsItemDate {
  margin-bottom: 9px;
  color: $blue;
}

.footer__newsItemText {
  margin-bottom: 10px;
  color: $white;
}

.footer__newsItemLink {
  color: $white;
  transition: color $transition-normal;

  &:hover {
    color: $blue;
  }
}

@media (max-width: $mobile) {
  .footer__content {
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }

  .footer__socials {
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 20px;
  }

  .footer__phone {
    display: block;
    text-align: center;
    margin-bottom: 19px;

    a {
      font-size: 12px;
      color: $grey-uni;
      border-bottom: 1px solid $grey-uni;
    }
  }

  .footer__phoneImage {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
  }

  .footer__copyright {
    text-align: center;

    span {
      border-bottom: 1px solid $grey-uni;
    }
  }
}